/* Light */
@font-face {
    font-family: 'Montserrat';
    src: url('@/assets/fonts/Montserrat-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  
  /* Light Italic */
  @font-face {
    font-family: 'Montserrat';
    src: url('@/assets/fonts/Montserrat-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
  }
  
  /* Regular */
  @font-face {
    font-family: 'Montserrat';
    src: url('@/assets/fonts/Montserrat-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  /* Regular Italic */
  @font-face {
    font-family: 'Montserrat';
    src: url('@/assets/fonts/Montserrat-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
  }
  
  /* Black */
  @font-face {
    font-family: 'Montserrat';
    src: url('@/assets/fonts/Montserrat-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }