@import "tailwindcss";

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

/* ONLY animate the leaving page */
.leave-up-leave-active {
  transition: transform 1s ease-out;
  position: fixed;
  inset: 0;
  z-index: 50;
}

/* start */
.leave-up-leave-from {
  transform: translateY(0);
}

/* end: page goes up */
.leave-up-leave-to {
  transform: translateY(-100%);
}

/* Disable enter animation completely */
.leave-up-enter-active,
.leave-up-enter-from,
.leave-up-enter-to {
  transition: none !important;
  transform: none !important;
}

.montserrat-black {
  font-family: Montserrat;
  font-weight: 900;
}

.montserrat-regular {
  font-family: Montserrat;
}

.montserrat-light-italic {
  font-family: Montserrat;
  font-weight: 300;
  font-style: italic;
}

.animate-slide-up {
  animation: slideUp 1s ease-out forwards;
}
.animate-slide-up-button {
  animation: slideUpButton 1s ease-out forwards;
}
.animate-slide-right {
  animation: slideRight 1s ease-out forwards;
}

.animate-slide-left {
  animation: slideLeft 1s ease-out forwards;
}

.animate-slide-up.animate-delay-150 {
  animation-duration: 1.5s;
}

@keyframes slideUp {
  from {
    transform: translateY(200px);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes slideUpButton {
  from {
    transform: translateY(200px) translateX(-50%);
  }

  to {
    transform: translateY(0) translateX(-50%);
  }
}

@keyframes slideRight {
  from {
    transform: translateX(-120%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slideLeft {
  from {
    transform: translateX(120%);
  }

  to {
    transform: translateX(0);
  }
}

@media screen and (max-width: 1500px) {
  .about-text{
    bottom: 8%;
  }
}

@media screen and (max-width: 1390px) {
  .about-text{
    bottom: 10%;
  }
}

@media screen and (max-width: 690px) {
  .about-text{
    bottom: 8%;
  }
}

@media screen and (max-width: 568px) {
  .about-text{
    font-size: 1.3rem;
    bottom: 18%;
  }
  .home-button{
    font-size: 1rem;
  }
  .leave-up-leave-active{
    transition-duration: 1.5s;
  }
}

@media screen and (max-width: 440px) {
  .about-text{
    bottom: 23%;
  }
}

@media screen and (max-width: 400px) {
  .about-text{
    font-size: 1.1rem;
  }
  .swiper-custom{
    height: 180px;
  }
  .home-button{
    padding-left: 12px;
    padding-right: 12px;
  }
}

@media screen and (max-width: 385px) {
  .home-button{
    font-size: 0.85rem;
  }
}

@media screen and (max-height: 710px) {
  .custom-swiper{
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 14px;
    padding-right: 14px;
  }
  .home-button{
    font-size: 0.85rem;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (min-height: 710px) and (max-width: 600px) {
  .prev {
    bottom: 5% !important;
  }
  
  .next {
    bottom: calc(5% + 50px) !important;
  }
}